@charset "utf-8";
/* 보그 메인 미디어쿼리 - media.css */

/* 1024px이하 */
@media only screen and (max-width:1024px) {

    /* 컨텐츠 박스 타이틀 h2요소 */
    .pbx h2 {
        font-size: 24px;
    }

}

/* 미디어쿼리 1024px이하 */

/* 모바일 미디어쿼리 : 500px이하 */
@media only screen and (max-width:500px) {

    body {
        padding-top: 63px;
        /* 상단영역고정시 첫번째 컨텐츠가 가려지므로
        그만큼의 공간을 아래로 밀어준다! */
        /* background-color: #000; */
        /* 혹시 보일 수 있는 배경을 검정색 처리 */
    }

    /* 상단영역 고정 */
    #top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* height와 overflow속성은 JS에서 처리! */
        z-index: 999;
    }

    /* 상단영역 - 최소높이 없앰 */
    .top.ibx {
        min-height: auto;
        height: 55px;
    }

    /* 상단메뉴, GNB메뉴 없애기 */
    .tmenu,
    .gnb {
        display: none;
    }

    /* 로고박스 */
    .logo {
        padding: 10px;
    }

    /* 로고이미지 */
    .logo img {
        width: 130px;
    }

    /* 모바일 전용버튼 보이기 */
    .mobtn {
        display: block;
    }

    /* 컨텐츠 박스 타이틀 h2요소 */
    .pbx h2 {
        font-size: 20px;
    }

    /* 컨텐츠 박스 유형1 비율변경 */
    .st1.rbx::before {
        padding-top: 150.7%;
    }

    /* 컨텐츠 박스 유형3 비율변경 */
    .st3.rbx::before {
        padding-top: 75%;
    }

    /* 유형1 박스 이미지변경하기 */
    .bgi1 {
        background-image: url(../images/cont1b.jpg);
    }

    .bgi3 {
        background-image: url(../images/cont3b.jpg);
    }

    .bgi5 {
        background-image: url(../images/cont5b.jpg);
    }

    /* 유형3의 3번째 박스 숨기기 */
    .st3 .pbx:last-child {
        display: none;
    }

    /* 컨텐츠 박스 보더 트랜지션 없애기 */
    .pbx::after {
        transition: none;
    }

    /* 컨텐츠 박스 오버시 보더 두께 변경 */
    .st1 .pbx:hover::after {
        /* 하나짜리 */
        border: 15px solid #f00;
    }

    .st3 .pbx:hover::after {
        /* 두개짜리 */
        border: 10px solid #f00;
    }

    /* 하단박스 */
    .info.ibx {
        padding: 40px;
        min-height: auto;
    }

    /* 하단 로고 이미지 */
    .blogo img {
        width: 200px;
    }

    /* 위로가기 버튼 */
    .tbtn{
        right: 15px;
        bottom: 100px;
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
    }

}

/* 미디어쿼리 500px이하 */